@import url('http://www.fontonline.ir/css/BKoodakBold.css');

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#000
}


html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    direction: rtl;
    background-color: #00143F;
    font-family: 'BKoodakBold', serif;

}
.sa-Each-input-wrapper{
    display: flex;
    flex-direction: column
}
.mt-60{
    margin-top: 60px
}
.p-30{
    padding: 30px;
}
.sa-center{
    display: block;
    margin: 0 auto;
}
.sa-input-login-style{
    height: 40px;
    border-radius: 20px;
    margin: 10px 0;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 17px;

}
.sa-label-login-input{
    font-size: 20px;
    color: #fff;
}
.sa-each-card-home{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 20px;
    margin:10px;
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    padding: 10px;
    /*flex-wrap: wrap;*/
    justify-content: center;
    flex-direction: column;
}
.sa-each-card-home img{
    width: 50%;
}
.sa-each-card-home h3{
    margin: 0 auto;
    font-size: 18px;
    /*padding-top: 10px;*/
}
.sa-button-login{
    width: 65%;
    height: 50px;
    background-color: #EA2127;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    margin-top: 25px;
    



}
.sa-button-login h6{
    font-size: 20px;
    color: #ffffff;
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
.sa-footer-each-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sa-footer-each-item h6{
    font-size: 20px;
    margin: 0;
}
.p-relative{
    position: relative;
}
.sa-home-header{
    align-items: baseline;
    width: 100%;
    height: 90px;
    background-color: #EA2127;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 35px 35px
}
.sa-profile-home{
    width: 300px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    position: absolute;
    top: 75%;
    padding: 0 50px;

}
.sa-items-wrapper-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 70%;
    max-width: 420px;
    margin: 0 auto;
    overflow-y: scroll;
}

.sa-footer-style{
    height: 10%;
    width: 100%;
    max-width: 415px;
    background-color: white;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}
.sa-wrapper-whole{
    max-width: 415px;
    margin: 0 auto;
    background-color: #00143F;
}
#sa-start{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}
.sa-login-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.sa-loginbox-wrapper{
    /*height: 600px;*/
    /*width: 400px*/
}
.sa-each-mojudi-anbar{
    padding:15px;
    height: 200px;
    width: 80%;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 20px;
}
.sa-each-list-kala{
    padding:15px;
    height: 370px;
    width: 80%;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 20px;
}
.sa-each-list-kala h6{
    margin: 0;
    font-size: 25px;
}
.sa-each-mojudi-anbar h3{
    margin: 0;
    font-size: 25px;
}
.sa-mojudi-text1{
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #c7c7c7;
    padding: 10px;


}
.sa-mojudi-text2{
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #EDC03D;
    padding: 10px;

}
.sa-mojudi-text1 h6,.sa-mojudi-text2 h6{
    font-size: 20px;
}
.sa-each-factor-foroush{
    height: 130px;
    width: 80%;
    margin:15px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.sa-each-factor-foroush h6{
    font-size: 20px;
    margin: 0;

}
.text-center{
    text-align: center;
}
.swal-modal{
    max-width: 415px;
    /*height: 100%;*/
    margin: 0 auto!important;
}
/* .swal-footer{
    position: absolute;
    top: 0;
} */
.swal-button{
    background-color: #EA2127;
}
.soroush{
    width: 100px;
    height: 100px;
    background-color: #EA2127;
}
.swal-modal{
    background-color: #00143F;

}
.sa-each-mojudi-packages-item{
    padding:15px;
    height: 245px;
    width: 80%;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 20px;
}
.sa-each-mojudi-packages-item h3{
    margin: 0;
    text-align: right;
}
.swal-title{
    color: #fff;
}
.sa-red-line{
    height: 2px;
    width: 100%;
    border-top: 3px solid #EA2127;
    animation: barcode-line 2s infinite;
}

@keyframes barcode-line{
    0%{
        transform: translate(8px, -340px);
    }
    50%{
        transform: translate(8px, -90px);
    }
    100%{
        transform: translate(8px, -340px);
    }
}


.sa-header-part1{
    display: flex;
    align-items : center
}
.sa-brand-part2{
    color: #fff;
    padding-right: 30px;
    font-size: 23px;
}
#root{
    width: 100%;
    height: 100%;
}
.sa-header-wrapper{
    height: 20%;
    margin: 0 auto;
    max-width: 420px;

}

.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}
.sa-each-factor-items{
    padding: 15px;
    height: 374px;
    width: 80%;
    margin: 15px auto;
    background-color: #fff;
    border-radius: 20px;
}
.sa-each-factor-items h5{
    margin: 0;
    color: #fff;
    font-size: 25px;

}
.sa-each-factor-items h6{
    margin: 0;
    font-size: 20px;
}
.sa-each-factor-items h3{
    font-size: 25px;
    margin: 0
}



.sa-factor-text2{
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #00143F;
    padding: 10px;
}
.d-flex-justify-center{
    display: flex;
    justify-content: center;
}
.sa-items-wrapper-level2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 100%; */
    max-width: 420px;
    margin: 0 auto;
    overflow-y: scroll;
}
.sa-items-wrapper-level2 h1{
    color: #fff;
    margin: 0;
}
.sa-closebtn{
    width: 50px;
    height: 50px;
    background-color: #EA2127;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.sa-header-fixed{
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #00143F;
    width: 100%;
    height: 70px;
    justify-content: center;

}
.sa-laghvmarjuyi-button{
    height: 55px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: #fff;
    font-size: 18px;
    font-family: 'BKoodakBold';
    position: absolute;
    left: 10px;
    bottom: 8px;
    outline: none;
}
.sa-space{
    height: 70px;
    width: 100%;
}
.sa-moarefi-sherkat{
    width: 80%;
    height: 90%;
    background-color: #fff;
    border-radius: 20px;
    overflow-y: scroll;
    
}
.reason h1{
    font-size: 24px;
    height: fit-content;
    text-align: center;
}
.reason{
    flex-wrap: nowrap!important;
    display: block!important;
    padding: 5px;

}

.sa-select-reason{
    width: 80%;
    margin: 0 auto;
    display: block;
    height: 55px;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    font-family: 'BKoodakBold';
    outline: none;
}
.sa-button-reason{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 55px;
}
.sa-each-button{
    width: 100px;
    height: 65px;
    border-radius: 20px;
    background-color: red;
    font-family: 'BKoodakBold';
    border: none;
    color: #fff;
    font-size: 22px;
    border:none;
}

.welcome-logo{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #00143F;
    
    align-items: center;
    justify-content: center;
}
.sort{
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 18%;
    width: 80%;
    height: 30px;
    background-color: #EDC03D;
    border-radius: 5px;
    position: absolute;

}




